html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.universe {
  width: 100%;
  height: 100%;
  position: relative;
  background: url('./images/universe.png');
  background-size: cover;
}
.layer-stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.solar-system {
  width: 1336px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  top: 90px;
  height: 0;
  -webkit-perspective-origin: 50% 0;
          perspective-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.sun {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 150px;
  left: 50%;
  border-radius: 50%;
  margin-left: -75px;
  background: url('./images/sun.png');
  background-size: cover;
}
.orbit {
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  transform-style: preserve-3d;
  animation: orbitrotate 10s linear 0s normal none infinite;
}
@keyframes orbitrotate {
  0% {
    transform: rotateX(75deg) rotateY(-10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(75deg) rotateY(-10deg) rotateZ(-360deg);
  }
}
.planet {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-90deg) rotateY(0deg);
          transform: rotateX(-90deg) rotateY(0deg);
}
.planet .ball {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: rotateX(-90deg) rotateY(0deg);
          transform: rotateX(-90deg) rotateY(0deg);
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;    
  animation: planetrotate 10s linear 0s normal none infinite;
}
@keyframes planetrotate {
  0% { 
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(-360deg);
  }
}
.orbit:hover {
  animation-play-state: paused;
}

/************ mercury start *************/
.mercury {
  height: 180px;
  width: 180px;
  left: 50%;
  top: 135px;
  margin-left: -90px;
  animation-duration: 13s;
  z-index: 10;
}
.mercury > .planet {
  height: 20px;
  width: 20px;
  left: 15px;
  top: 15px;
}
.mercury > .planet > .ball {
  background-image: url('./images/mercury.png');
  animation-duration: 13s;
}
/************ mercury end *************/

/************ venus start *************/
.venus {
  width: 260px;
  height: 260px;
  left: 50%;
  top: 95px;
  margin-left: -130px;
  animation-duration: 20s;
  z-index: 11;
}
.venus > .planet {
  height: 30px;
  width: 30px;
  left: 23px;
  top: 23px;
}
.venus > .planet > .ball {
  background-image: url("./images/venus.png");
  animation-duration: 20s;
}
/************ venus end *************/

/************ earth start *************/
.earth {
  width: 340px;
  height: 340px;
  left: 50%;
  top: 55px;
  margin-left: -170px;
  animation-duration: 22s;
  z-index: 12;
}
.earth > .planet {
  width: 30px;
  height: 30px;
  left: 35px;
  top: 35px;
}
.earth > .planet > .ball {
  background-image: url('./images/earth.png');
  animation-duration: 22s;
}
/************ venus end *************/

/************ mars start *************/
.mars {
  width: 420px;
  height: 420px;
  left: 50%;
  top: 15px;
  margin-left: -210px;
  animation-duration: 30s;
  z-index: 13;
}
.mars > .planet {
  width: 24px;
  height: 24px;
  left: 50px;
  top: 50px;
}
.mars > .planet > .ball {
  background-image: url('./images/mars.png');
  animation-duration: 30s;
}
/************ mars end *************/

/************ jupiter start *************/
.jupiter {
  width: 540px;
  height: 540px;
  left: 50%;
  top: -45px;
  margin-left: -270px;
  animation-duration: 60s;
  z-index: 14;
}
.jupiter > .planet {
  width: 60px;
  height: 60px;
  left: 48px;
  top: 48px;
}
.jupiter > .planet > .ball {
  background-image: url('./images/jupiter.png');
  animation-duration: 60s;
}
/************ jupiter end *************/

/************ saturn start *************/
.saturn {
  width: 660px;
  height: 660px;
  left: 50%;
  top: -105px;
  margin-left: -330px;
  animation-duration: 70s;
}
.saturn > .planet {
  width: 122px;
  height: 70px;
  right: 52px;
  top: 52px;
}
.saturn > .planet > .ball {
  background-image: url('./images/saturn.png');
  animation-duration: 70s;
}
/************ saturn end *************/

/************ uranus start *************/
.uranus {
  width: 780px;
  height: 780px;
  left: 50%;
  top: -165px;
  margin-left: -390px;
  animation-duration: 90s;
}
.uranus > .planet {
  width: 40px;
  height: 40px;
  bottom: 92px;
  right: 92px;
}
.uranus > .planet > .ball {
  background-image: url('./images/uranus.png');
  animation-duration: 90s;
}
/************ uranus end *************/

/************ neptune start *************/
.neptune {
  width: 900px;
  height: 900px;
  left: 50%;
  top: -225px;
  margin-left: -450px;
  animation-duration: 100s;
}
.neptune > .planet {
  width: 38px;
  height: 38px;
  left: 112px;
  bottom: 112px;
}
.neptune > .planet > .ball {
  background-image: url('./images/neptune.png');
  animation-duration: 100s;
}
/************ neptune start *************/

/************ pluto start *************/
.pluto {
  width: 1000px;
  height: 1000px;
  left: 50%;
  top: -325px;
  margin-left: -430px;
  animation-duration: 110s;
  transform: rotateX(75deg) rotateY(-25deg) rotateZ(90deg);
  animation-name: plutorotate;
}
.pluto > .planet {
  width: 20px;
  height: 20px;
  left: 138px;
  bottom: 138px;
}
.pluto > .planet > .ball {
  background-image: url('./images/pluto.png');
  animation-duration: 110s;
}
@keyframes plutorotate {
  0% {
    transform: rotateX(75deg) rotateY(-25deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(75deg) rotateY(-25deg) rotateZ(-360deg);
  }
}
/************ pluto start *************/

/************ adding box shadow for sun *************/
.sun::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  box-sizing: border-box;
  border-radius: inherit;
  width: 120px;
  height: 120px;
  -webkit-transform: translateZ(2em);
          transform: translateZ(2em);
  animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #f7f3d1;
            box-shadow: 0 0 0 0 #f7f3d1;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(14, 171, 49, 0);
            box-shadow: 0 0 0 10px rgba(14, 171, 49, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(14, 171, 49, 0);
            box-shadow: 0 0 0 0 rgba(14, 171, 49, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #f7f3d1;
         box-shadow: 0 0 0 0 #f7f3d1;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(14, 171, 49, 0);
         box-shadow: 0 0 0 10px rgba(14, 171, 49, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(14, 171, 49, 0);
         box-shadow: 0 0 0 0 rgba(14, 171, 49, 0);
  }
}